{% extends 'header.html' %}

{% block head %}
<title>Help Center - RefPay</title>
{% endblock %}

{% block content %}

<h2><font color="white" size="24px">Help Center</font></h2>
<div>
    <p><small>(Updated: 25/09/2020)</small></p>
    <table>
        <tr>
            <td><li>What's RefPay?</li>
            RefPay is the online platform for making cool cash for influencers.</td>
        </tr>
        <tr>
            <td><li>How RefPay Work</li>
            Register > Select a Package > Make Activation Payment > Start Referring > $$$$.</td>
        </tr>
        <tr>
            <td><li>Balance</li>
            Balance is the total withdraw-able amount earn on the platform, which can also be used to purchase other services.  </td>
        </tr>
          <tr>
            <td><li>Minimum Withdrawal</li>
            Minimum Withdrawal is N1000 </td>
        </tr>
        <tr>
            <td><li>Withdrawal Process</li>
            All withdrawal are processed within 12-24hrs or maximum 48hrs should there need be. </td>
        </tr>
         <tr>
            <td><li>Other Services</li>
            RefPay other services include, Airtime/Data TopUp, Bill Payments e.t.c </td>
        </tr>
         <tr>
            <td><li>Referral Limit</li>
            Currently there is no referral limit on the platform, but this might tend to change, there nee be.</td>
        </tr>
        <tr>
            <td><li>Need More Assitance</li>
            Need more assistance on RefPay or just want to talk to someone? support@refpay.com.ng <br>
            or Chat with Our Customer Representatives using the Live Chat Button.</td>
        </tr>
    </table>
</div>

{% endblock %}
